@model List<TestAthleteViewModel>

@{
    ViewData["Title"] = "Test Athletes";
}

<div class="yoyo-test">
    <div class="top">
        <a href="#"><i class="fa fa-angle-left"></i></a>
        <h3>YoYo Test</h3>
    </div>
    <div class="middle">
        <a href="#" class="play-icon"><i class="fa fa-play"></i></a>
        <a href="#" class="progress-text">
            <span>Level 12</span>
            <span>Shuttle 5</span>
            <small>14km/h</small>
        </a>
        <div class="row">
            <div class="col-4">
                <p>Next Shuttle</p>
                <span>0:00s</span>
            </div>
            <div class="col-4">
                <p>Total Time</p>
                <span>0:00m</span>
            </div>
            <div class="col-4">
                <p>Total Distance</p>
                <span>0 m</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <h4>Track</h4>
        <ul>
            @foreach (var testAthlete in Model)
            {
                var warned = testAthlete.IsWarned ? "warned" : "";

                <li>
                    <div>
                        <p>@testAthlete.Name</p>
                        <div class="btn-sec">
                            <a class='@warned' href="#">Warn</a>
                            <a class="stop" href="#">Stop</a>
                        </div>
                    </div>
                </li>
            }
            <li>
                <div>
                    <p>Test A</p>
                    <div class="btn-sec">
                        <a class="warned" href="#">Warned</a>
                        <a class="stop" href="#">Stop</a>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <p>Test B</p>
                    <select>
                        <option>11-3</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div>