@model List<TestAthleteViewModel>

@{
    ViewData["Title"] = "Test Athletes";
}

<div class="yoyo-test">
    <div class="top">
        <a href="#"><i class="fa fa-angle-left"></i></a>
        <h3>YoYo Test</h3>
    </div>
    <div class="middle">
        <a href="javascript:void(0);" id="btnPlay" class="play-icon" onclick="app.startTest()"><i class="fa fa-play"></i></a>
        <a href="javascript:void(0);" id="btnPlayInfo" class="progress-text d-none">
            <span id="shuttleLevel">NA</span>
            <span id="shuttleNumber">NA</span><br/>
            <small id="speed">NA</small>
        </a>
        <div class="row">
            <div class="col-4">
                <p>Next Shuttle</p>
                <span id="currentShuttleSecondsLeft">0:00s</span>@*how many seconds left of current shuttle*@
            </div>
            <div class="col-4">
                <p>Total Time</p>
                <span id="totalTime">0:00m</span>@*total time of test*@
            </div>
            <div class="col-4">
                <p>Total Distance</p>
                <span id="totalDistance">0 m</span>@*total distance for test in progress*@
            </div>
        </div>
    </div>
    <div class="bottom">
        <h4>Track</h4>
        <ul>
            @foreach (var testAthlete in Model)
            {
                var warned = testAthlete.IsWarned ? "warned" : "";

                <li>
                    <div>
                        <p>@testAthlete.Name</p>
                        <div class="btn-sec">
                            <a class='@warned d-none' href="#">Warn</a>
                            <a class="stop d-none" href="#">Stop</a>
                        </div>
                        @*<select asp-for="@testAthlete." 
                                asp-items="@(new SelectList(Model.EmployeesList,"Id","FullName"))">
                            <option>Please select one</option>
                        </select>*@
                        <select class="d-none">
                            <option>11-3</option>
                        </select>
                    </div>
                </li>
            }
            <li>
                <div>
                    <p>Test A</p>
                    <div class="btn-sec">
                        <a class="warned d-none" href="#">Warned</a>
                        <a class="stop d-none" href="#">Stop</a>
                    </div>
                    <select>
                        <option>11-3</option>
                    </select>
                </div>
            </li>
            <li>
                <div>
                    <p>Test B</p>
                    <select>
                        <option>11-3</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div>